<%- include('../userLayouts/header.ejs') %>
    <%- include('../userLayouts/pageHeader.ejs') %>

    <style>
        .offer-tag {
            position: absolute;
            top: 5px;
            left: 10px;
            background-color: rgb(198, 22, 22);
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: bold;
            z-index: 10;
        }
    </style>

        <div class="bg0 m-t-70 p-b-150">
            <div class="container">
                <div class="flex-w flex-sb-m p-b-52">
                    <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                            All Products
                        </button>

                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".Ladies Collection">
                            Women
                        </button>

                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".Men's collection">
                            Men
                        </button>
                    </div>

                    <div class="flex-w flex-c-m m-tb-10">
                        <div
                            class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                            <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                            <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                            Filter
                        </div>

                        <div
                            class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                            <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                            <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                            Search
                        </div>
                    </div>

                    <!-- Search product -->
                    <div class="dis-none panel-search w-full p-t-10 p-b-15">
                        <div class="bor8 dis-flex p-l-15">
                            <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                                <i class="zmdi zmdi-search"></i>
                            </button>

                            <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product"
                                placeholder="Search">
                        </div>
                    </div>

                    <!-- Filter -->
                    <div class="dis-none panel-filter w-full p-t-10">
                        <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                            <div class="filter-col1 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Sort By
                                </div>

                                <ul>
                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">
                                            Default
                                        </a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">
                                            Popularity
                                        </a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04 filter-link-active">
                                            New Arrivals
                                        </a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">
                                            Price: Low to High
                                        </a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">
                                            Price: High to Low
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row isotope-grid">
                    <% if(products && products.length > 0) { %>
                        <% products.forEach((product, index)=> { %>
                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                              <a href="/productDetails/<%= product._id %>">
                                <img src="/uploads/<%= product.images[0] %>" alt="IMG-PRODUCT">
                              </a>
                              <% if(product.offer){ %>
                                <span class="offer-tag">
                                    <%= product.discountPercentage %>% Off
                                </span>
                              <% } %>
                            </div>
                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l ">
                                    <a href='/productDetails/<%= product._id %>'
                                        class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        <%= product.name %>
                                    </a>
                                    <% if(product.offerPrice !== null){ %>
                                        <span class="stext-105 cl3" style="text-decoration: line-through; color: #888;">
                                            ₹ <%= product.price %>
                                        </span>
                                        <span class="stext-105 cl3" style="color: #C61616; font-size: 18px; font-weight: bold;">
                                            ₹ <%= product.offerPrice.toFixed(2) %>
                                        </span>
                                    <% }else{ %>
                                        <span class="stext-105 cl3">
                                            ₹ <%= product.price %>
                                        </span>
                                    <% } %>
                                </div>

                                <div class="block2-txt-child2 flex-r p-t-3">
                                    <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                        <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png"
                                            alt="ICON">
                                        <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                            src="images/icons/icon-heart-02.png" alt="ICON">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <% } %>
                </div>
            </div>
        </div>


        <script>
            // Function to fetch and update products dynamically
            async function fetchProducts(params) {
                try {
                    const response = await fetch(`/products?${params}`, { method: 'GET' });
                    const data = await response.json(); 
                    updateProductGrid(data.products); 
                } catch (error) {
                    console.error('Error fetching products:', error);
                }
            }
        
            // Function to update the product grid
            function updateProductGrid(products) {
                const grid = document.querySelector('.isotope-grid');
                grid.innerHTML = '';
        
                if (products.length === 0) {
                    grid.innerHTML = '<p>No products found.</p>';
                    return;
                }
        
                // Dynamically create product cards
                products.forEach(product => {
                    const offerTag = product.offer ? `<span class='offer-tag'>${product.discountPercentage}% Off</span>` : '';
                    const productHTML = `
                         <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                              <a href="/productDetails/${product._id}">
                                <img src="/uploads/${product.images[0]}" alt="IMG-PRODUCT">
                              </a>  
                              ${offerTag}
                            </div>
                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l ">
                                    <a href='/productDetails/${product._id}'
                                        class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        ${product.name} 
                                    </a>

                                    <span class="stext-105 cl3">
                                        ${product.offerPrice !== null ? `<div><small style= 'text-decoration: line-through; opacity: 70%;'>₹ ${product.price}</small></div><div><span style='font-weight: bold; color: #FF5722;'>₹ ${product.offerPrice.toFixed(2)}</span></div>` : `₹ ${product.price}`}
                                    </span>
                                </div>

                                <div class="block2-txt-child2 flex-r p-t-3">
                                    <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                        <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png"
                                            alt="ICON">
                                        <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                            src="images/icons/icon-heart-02.png" alt="ICON">
                                    </a>
                                </div>
                            </div>
                        </div>
                        </div>   
                    `;
                    const productElement = document.createRange().createContextualFragment(productHTML);
                    grid.appendChild(productElement);
                });
            }
        
            // Event Listeners for Filters
            document.querySelectorAll('.filter-tope-group button').forEach(button => {
                button.addEventListener('click', () => {
                    const category = button.getAttribute('data-filter').replace('.', '');
                    console.log(category)
                    const params = new URLSearchParams(window.location.search);
                    params.set('category', category);
                    fetchProducts(params.toString());
                });
            });
        
            // Event Listener for Sort Options
            document.querySelectorAll('.filter-col1 a').forEach(link => {
                link.addEventListener('click', event => {
                    event.preventDefault();
                    const sort = link.textContent.trim().toLowerCase().replace(' ', '-');
                    const params = new URLSearchParams(window.location.search);
                    params.set('sort', sort);
                    fetchProducts(params.toString());
                });
            });
        
            // Event Listener for Search
            document.querySelector('[name="search-product"]').addEventListener('input', event => {
                const search = event.target.value.trim();
                const params = new URLSearchParams(window.location.search);
                params.set('search', search); // Update URL params
                fetchProducts(params.toString());
            });
        </script>
        

        <%- include('../userLayouts/pageFooter.ejs') %>
            <%- include('../userLayouts/footer.ejs') %>